@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

/* Base styles */
html, body, #root {
  height: 100%;
  height: 100dvh;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom, #111827, #000);
}
